body { padding-top: 70px; }

.well-title {
  margin-top: 0;
}
.session {
    -webkit-touch-callout: none;
    -webkit-user-select: none;    
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.badge-inverse{
    background-color:#3a3f44;
    text-align:center;
}

.votingWidget {
  height: 64px;
  padding: 7px;
}

.votingButton {  
  text-align:center;
  cursor:pointer;
}

.white {
    color:white;
}

.blue {
    color:blue;
}

/*.text-left {
    text-align:left;
}*/
.label.label-block {
    display:block;
}

.label.label-left {
  text-align:left;
}
.label.label-right {
  text-align:right;
}
.label.label-center {
  text-align:center;
}
.top-margin {
    margin-top:10px;
}
.left-margin-sm {
    margin-left:5px;
}
.left-margin-md {
    margin-left:10px;
}

[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {

    display:none;

}