body { padding-top: 70px; }

.well-title {
  margin-top: 0;
}

.hoverwell:hover {
  background-color: #52575c;
  cursor: pointer;
}

.session {
    -webkit-touch-callout: none;
    -webkit-user-select: none;    
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.badge-inverse{
    background-color:#3a3f44;
    text-align:center;
}

.votingWidget {
  height: 64px;
  padding: 7px;
}

.votingButton {  
  text-align:center;
  cursor:pointer;
}

.white {
    color:white;
}

.blue {
    color:blue;
}

/*.text-left {
    text-align:left;
}*/
.label.label-block {
    display:block;
}

.label.label-left {
  text-align:left;
}
.label.label-right {
  text-align:right;
}
.label.label-center {
  text-align:center;
}
.top-margin {
    margin-top:10px;
}
.left-margin-sm {
    margin-left:5px;
}
.left-margin-md {
    margin-left:10px;
}

[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {

    display:none;

}

.link-unstyled {
  color: inherit;
  text-decoration: inherit;
}

.link-unstyled:link {
  color: inherit;
  text-decoration: inherit;
}

.link-unstyled:hover {
  color: inherit;
  text-decoration: inherit;
}

.calendar{
    border: 1px solid #555;
    width: 238px;
}
.calendar .row {
    margin-left: 0;
}
.calendar .row div{
    float:left;
    padding:2px;
    width:30px;
    text-align:center;
}
.calendar-nav-left {
    float:left;
    width: 20px;
    padding:2px;
}
.calendar-nav-right {
    float:left;
    width: 20px;
    padding:2px;
    text-align:right;
}

.calendar .row .calendar-hdr {
    padding:2px;
    float:left;
    width: 166px;
    text-align:center;
}
.pointer {
    cursor: pointer;
}
.date-picker {
    position: absolute;
    top: 0;
    left: 0;
    background-color:dimgrey;
    z-index:100001;
}
