<!DOCTYPE html>
<html ng-app="testApp">
<head>
    <title>Test place</title>
	<meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="description" content="" />
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no" />

    <!--<link rel="stylesheet" href="../lib/bootstrap/dist/css/bootstrap.css" />-->
    <link rel="stylesheet" href="../lib/bootswatch/readable/bootstrap.css" />
    <link rel="stylesheet" href="../lib/fontawesome/css/font-awesome.min.css" />
    <link rel="stylesheet" href="../lib/jqueri-ui/themes/base/jquery-ui.css"/>
    <link rel="stylesheet" href="../css/app2.css" />

</head>
<body>
    <div class="container" ng-controller="mainController as vm">
    {{vm.id}}
    </div>


    <script src="/lib/jquery/dist/jquery.js"></script>
    <script src="/lib/jqueri-ui/jquery-ui.js"></script>    
    <script src="/lib/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="/lib/angular/angular.js"></script>

    <script src="../js/boot.js"></script>
    <script src="../js/controllers/mainController.js"></script>
</body>
</html>
