<div class="col-md-12" style="border:0.5pt solid green">
    <div class="form-group nopadding">
        <span class="col-md-2" for="key">Name:</span>
        <div class="col-md-8">
            <input class="form-control input-sm" type="text" id="key" name="key" />
        </div>
        <div class="col-md-2" style="border:0.5pt solid red">
            <button type="button" class="btn btn-sm btn-success" >Search</button>
        </div>
    </div>
</div>

<div layout="row" class="flex">
    <span style="width:10%;" for="key2">Name:</span>
    <input style="width:80%" type="text" id="key" name="key" />
    <button type="button" class="btn btn-sm btn-success" style="width:10%">Search</button>
</div>