<!DOCTYPE html>
<html ng-app="eventsApp">
<head>    
    <base href="/">
    <title>Event Registration 1</title>    
    <link rel="stylesheet" href="../lib/bootswatch/slate/bootstrap.min.css" />
    <link rel="stylesheet" href="../lib/fontawesome/css/font-awesome.min.css" />
    <link rel="stylesheet" href="../css/app.css" />
</head>
<body>

    <!--directive with dinamic controller-->
    <!--<greeting ctrl="GreetingController" />-->

    <!--<greeting finnish hindi/>-->

    <greeting>
        <div finnish hindi/>
    </greeting>


    <script src="../lib/jquery/dist/jquery.min.js"></script>
    <script src="../lib/underscore/underscore-min.js"></script>
    <script src="../lib/angular/angular.js"></script>
    <script src="../lib/angular-route/angular-route.min.js"></script>
    <script src="../lib/angular-sanitize/angular-sanitize.min.js"></script>
    <script src="../lib/angular-resource/angular-resource.min.js"></script>
    <script src="../js/app.js"></script>
    <script src="../js/filters.js"></script>
    <script src="../js/directives/greeting.js"></script>
    <script src="../lib/bootstrap/dist/js/bootstrap.min.js"></script>
</body>
</html>
