<!DOCTYPE html>
<html ng-app="eventsApp">
<head>
    <title>Event Registration</title>
    <meta charset="utf-8" />
    <!--<link rel="stylesheet" href="../lib/bootstrap/dist/css/bootstrap.min.css"/>-->
    <!--<link rel="stylesheet" href="../lib/bootswatch/cyborg/bootstrap.min.css"/>-->
    <link rel="stylesheet" href="../lib/bootswatch/slate/bootstrap.min.css" />
    <link rel="stylesheet" href="../lib/fontawesome/css/font-awesome.min.css" />
    <!--<link rel="stylesheet" href="../css/bootstrap.min.css"/>-->
    <link rel="stylesheet" href="../css/app.css" />
</head>
<!--<body>-->
<body ng-cloak>
    <div class="container">
        <!--<div class="nav navbar">
            <div class="nav navbar-inverse">
                <ul class="nav">

                </ul>
            </div>
        </div>-->
        <!--<nav class="navbar navbar-inverse navbar-static-top" role="navigation">-->
        <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
            <div class="container-fluid">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="../views/EventDetails.html">Brand</a>
                </div>

                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav">
                        <li><a href="../views/NewEvent.html">Create Event</a></li>
                        <li><a href="#">Administration</a></li>

                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Reports <span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li><a href="#">Action</a></li>
                                <li><a href="#">Another action</a></li>
                                <li><a href="#">Something else here</a></li>
                                <li role="separator" class="divider"></li>
                                <li><a href="#">Separated link</a></li>
                                <li role="separator" class="divider"></li>
                                <li><a href="#">One more separated link</a></li>
                            </ul>
                        </li>

                    </ul>

                    <form class="navbar-form navbar-left" role="search">
                        <div class="form-group">
                            <input type="text" class="form-control" placeholder="Search">
                        </div>
                        <button type="submit" class="btn btn-default">Submit</button>
                    </form>


                    <ul class="nav navbar-nav navbar-right">
                        <li><a href="../views/EditProfile.html">Profile</a></li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Dropdown <span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li><a href="#">Action</a></li>
                                <li><a href="#">Another action</a></li>
                                <li><a href="#">Something else here</a></li>
                                <li role="separator" class="divider"></li>
                                <li><a href="#">Separated link</a></li>
                            </ul>
                        </li>
                    </ul>

                </div>
            </div>
        </nav>

        <!--<div ng-controller="EventController as vm" style="padding-left:20px;padding-right:20px;">-->
        <div class="row" ng-controller="EventController as vm">
            <div class="col-md-10 col-md-offset-1" style="{{vm.event.divShowBorder ? vm.event.divBorder : ''}}">

                <img ng-src="{{vm.event.imageUrl}}" alt="{{vm.event.name}}">

                <div class="row">
                    <div class="col-md-12" style="{{vm.event.divShowBorder ? vm.event.divBorder : ''}}">
                        <!--<h2>{{vm.event.name}}</h2>-->
                        <!--<h2 ng-bind="vm.event.name + ' (Bind)'"></h2>-->
                        <!--<h2 ng-style="vm.mystyle" ng-bind-template="{{vm.event.name}} {{vm.event.date}} (Bind Template)"></h2>-->
                        <h2 ng-class="vm.myclass" ng-bind-template="{{vm.event.name | uppercase}} {{vm.event.date}} (Bind Template)"></h2>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-2">
                        <button class="btn btn-default" ng-disabled="vm.buttonDisabled">Disabled</button>
                    </div>
                    <div class="col-md-1">
                        {{3.1415926535 | number:2}}
                        {{3 | number:2}}
                    </div>
                    <div class="col-md-2">
                        Array expression example: {{[1,2,3][2]}}
                    </div>
                    <div class="col-md-1" ng-non-bindable>
                        {{1+2}}
                    </div>
                    <div class="col-md-3">
                        {{ {a:3, b:"hi", c:{aa:35} } | json }}
                    </div>
                </div>

                <!--ngSanitize = remove all unsafe attributes from html-->
                <div ng-bind-html="vm.snippet">some title</div>

                <!--ng-bind-html-unsafe has been deprecated-->
                <!--ngSanitize Unsafe version( with filter)-->
                <div ng-bind-html="vm.snippet | to_trusted">some title</div>
                <!--ngSanitize $sce version-->
                <div ng-bind-html="vm.snippetSafe">some title</div>

                <h2 ng-show="vm.boolValue">Show This</h2>
                <h2 ng-hide="vm.boolValue">Hide This</h2>


                <div class="row">
                    <div class="col-md-3" style="{{vm.event.divShowBorder ? vm.event.divBorder : ''}}">
                        <!--<div><strong>Date:</strong> {{vm.event.date}}</div>-->
                        <!--<div><strong>Time:</strong> {{vm.event.time}}</div>-->
                        <div>
                            <label class="label label-default">Date:</label>
                            <span class="text-left small">xt{{vm.toJsDate(vm.event.date) | date: 'mediumDate'}}</</span>
                            /
                            <span class="text-left small">{{vm.event.jsdate | date: 'MMMM dd, yyyy'}}</span>
                        </div>
                        <div>
                            <label class="label label-default">Time:</label>
                            <span class="text-left small">{{vm.event.time}}</span>
                        </div>
                        <div>
                            <label class="label label-default">Price:</label>
                            <span class="text-left small">{{34 | currency}}</span>
                        </div>
                    </div>
                    <div class="col-md-4" style="{{vm.event.divShowBorder ? vm.event.divBorder : ''}}">
                        <address>
                            <label class="label label-warning">Address:</label>
                            <div>
                                <span class="text-left small">{{vm.event.location.address}}</span>
                            </div>
                            <div>
                                <span class="text-left small">{{vm.event.location.city}}, {{vm.event.location.province}}</span>
                            </div>
                            <!--<strong>Address:</strong><br />
                                {{vm.event.location.address}}<br />
                                {{vm.event.location.city}}, {{vm.event.location.province}}
                            -->
                        </address>
                    </div>
                </div>

                <hr />


                <h3>Sessions</h3>

                <!--<label class="label label-default" for="sortOrder1">Order By:</label>
                <select ng-model="vm.sortorder" class="input-sm" style="color:black;margin-bottom:5px;" id="sortOrder1">
                    <option selected value="name">Name</option>
                    <option value="-upVoteCount">Votes</option>
                </select>-->

                <div class="row form-horizontal">
                    <div class="form-group">
                        <label class="label control-label col-md-1" for="sortOrder2">Order By:</label>
                        <div class="form-group col-md-2">
                            <select ng-model="vm.sortorder" class="form-control" id="sortOrder2">
                                <option selected value="name">Name</option>
                                <option value="-upVoteCount">Votes</option>
                            </select>
                        </div>
                        <label class="label control-label col-md-1" for="query2">Show:</label>
                        <div class="form-group col-md-2">

                            <!--filter all model attrtibutes for selected criteria
                                <select ng-model="vm.query" class="form-control" id="query2">-->
                            <select ng-model="vm.query.level" class="form-control" id="query2">
                                <option selected value="">All</option>
                                <option value="introductory">Introductory</option>
                                <option value="intermediate">Intermediate</option>
                                <option value="advanced">Advanced</option>
                            </select>
                        </div>
                    </div>
                </div>


                <!--<div class="row">
                    <div class="form-group col-md-1">
                        <label class="label control-label" for="sortOrder1">Order By:</label>
                    </div>
                    <div class="form-group col-md-2">
                        <select ng-model="vm.sortorder" class="form-control" id="sortOrder1">
                            <option selected value="name">Name</option>
                            <option value="-upVoteCount">Votes</option>
                        </select>
                    </div>
                </div>-->


                <ul class="thumbnails list-unstyled" style="{{vm.event.divShowBorder ? vm.event.divBorder : ''}}">

                    <!--<li ng-repeat="session in vm.event.sessions | orderBy: vm.sortorder | limitTo:2">-->
                    <li ng-repeat="session in vm.event.sessions | orderBy: vm.sortorder | filter: vm.query">
                        <!--<div class="row session" ng-class-odd="'white'" ng-class-even="'blue'">-->
                        <div class="row session">
                            <div class="col-xs-1 well votingWidget" style="width:40px;padding-top:0;padding-bottom:0;padding-left:10px;">

                                <div class="votingButton" ng-click="vm.upVoteSession(session)" style="padding-top:0;">
                                    <!--<i class="glyphicon glyphicon-chevron-up white"></i>-->
                                    <i class="fa fa-chevron-up white"></i>
                                </div>

                                <div class="badge badge-inverse">
                                    <div>{{session.upVoteCount}}</div>
                                </div>

                                <div class="votingButton" ng-click="vm.downVoteSession(session)" style="padding-top:0;">
                                    <!--<i class="glyphicon glyphicon-chevron-down"></i>-->
                                    <i class="fa fa-chevron-down"></i>
                                </div>
                            </div>
                            <div class="col-md-9 well">
                                <h4 class="well-title">{{session.name}}</h4>
                                <h6 style="margin-top:-10px;">{{session.creatorName}}</h6>
                                <span>Duration: {{session.duration | durations }}</span><br />
                                <span>Level: {{session.level}}</span>
                                <p>{{session.abstract}}</p>
                            </div>
                        </div>
                    </li>
                </ul>
                <!--
                <div class="row">
                    <div class="col-md-9" style="{{vm.event.divShowBorder ? vm.event.divBorder : ''}}">
                        <label class="label label-default text-center">Sessions</label>

                        <ul class="list-group thumbnail">
                            <li class="list-group-item" ng-repeat="session in vm.event.sessions">
                                {{session.name}}
                            </li>
                        </ul>
                    </div>
                </div>
                -->
            </div>
        </div>
    </div>



    <script src="../lib/jquery/dist/jquery.min.js"></script>
    <script src="../lib/underscore/underscore-min.js"></script>
    <script src="../lib/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="../lib/angular/angular.js"></script>
    <script src="../lib/angular-sanitize/angular-sanitize.min.js"></script>
    <script src="../lib/angular-resource/angular-resource.min.js"></script>

    <!--<script src="../lib/angular-aria/angular-aria.min.js"></script>
    <script src="../lib/angular-animate/angular-animate.min.js"></script>
    <script src="../lib/angular-messages/angular-messages.min.js"></script>
    <script src="../lib/angular-material/angular-material.min.js"></script>-->

    <script src="../js/app.js"></script>
    <script src="../js/filters.js"></script>
    <script src="../js/services/EventData.js"></script>
    <script src="../js/controllers/EventController.js"></script>    
</body>
</html>

