<?xml version="1.0" encoding="utf-8" ?>
<unity xmlns="http://schemas.microsoft.com/practices/2010/unity">
  <container>
    <register type="NewWebAPI.Models.IDbContext, NewWebAPI" mapTo="NewWebAPI.Models.RCDB, NewWebAPI" />
    <register type="NewWebAPI.Services.IRCIdentityService, NewWebAPI" mapTo="NewWebAPI.Services.RCIdentityService, NewWebAPI" />
  </container>
</unity>