@model RestaurantCentral.Models.Restaurant


<tr>
    <td>
        @Html.DisplayFor(r=>Model.Name)
    </td>
    <td>
        @Html.DisplayFor(r=>Model.Address.City), @Html.DisplayFor(r=>Model.Address.State)
    </td>
    <td>
        @Model.AddDate.ToShortTimeString()
    </td>
</tr>